
ContainerConfig/.env
*.iml
*.xml
*.yml
*.meta
*.cnf
*.000002
*.pem
ContainerConfig/mysql_206/ibdata1
*.ibd
ContainerConfig/mysql_206/ibtmp1
ContainerConfig/mysql_206/undo_001
*.sock
ContainerConfig/mysql_206/undo_002
ContainerConfig/mysql_206/ib_buffer_pool
*.index
*.000001
*.dblwr
*.properties
/home/lucas-motta/Documents/GitHub/JavaWithSQL/SQL_01/db.properties
*.000004
*.000003
out/production/SQL_01/application/Program.class
out/production/SQL_01/db/DB.class
*.class
*.000005
*.000006
